@import "mixins/font-face";

@include font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular");
@include font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold);

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oqu5nd');
  src:  url('../fonts/icomoon.eot?oqu5nd#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?oqu5nd') format('truetype'),
  url('../fonts/icomoon.woff?oqu5nd') format('woff'),
  url('../fonts/icomoon.svg?oqu5nd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
