@import "vars";
@import "libs";
@import "fonts";
@import "mixins/font-face";
@import "mixins/mixin";

@import "blocks/base";
@import "blocks/container";
@import "blocks/main-header";
@import "blocks/logo";
@import "blocks/menu-btn";
@import "blocks/main-menu";
@import "blocks/hidden-menu";
@import "blocks/social";
@import "blocks/advice-btn";
@import "blocks/main";
@import "blocks/section";
@import "blocks/accordion";
@import "blocks/topButton";




@import "media";
