
.applications {
  padding: 10px;
  width: 60%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#fff;
  &__list{
    display: block;
    list-style: none;
    counter-reset: item;
  }


  &__item {
    font-family: "PT Sans", Georgia, sans-serif;
    line-height: 1.34;
    font-size: 1.3rem;
    color: #6a696b;
    font-weight: 300;
    /*padding: 0 1rem;*/
    margin-bottom: 2.8rem;
    position: relative;
    &:before {
      position: absolute;
      top: 0px;
      left: -35px;
      width: 23px;
      height: 23px;
      text-align: center;
      letter-spacing: -1px;
      color: rgb(255, 255, 255);
      font-family: "Bandera Pro", Georgia, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 23px;
      border-radius: 50%;
      background: rgb(61, 112, 182);
      /* Counter */
      content: counter(item);
      counter-increment: item;
    }
  }

  &__text {
    font-family: "PT Sans", Georgia, sans-serif;
    line-height: 1.34;
    font-size: 1.3rem;
    color: #6a696b;
    font-weight: 600;
    /*padding: 0 1rem;*/
    margin-bottom: 1.8rem;
  }
}



