.quiz{
  margin:30px auto;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
  text-align: center;
  &__test {
    width: 100%;
    margin-bottom: 10px;
    color: #000;
    font-size: 1rem;
    font-weight:600;
    text-align: center;
  }
  &__correct {
    border:1px solid green;
  }
  &__incorrect {
    border:1px solid red;
  }
  &__button {
    margin:20px 0;
    width: auto;
    color:#fff;
    background-color:darkcyan;
    border:1px solid #fff;
    border-radius:5px;
    text-decoration: none;
  }
}






